{{define "cost" -}}
{{ $Services := .Services }}
{{ $Dates := .Dates }}
<details open>
  <summary> {{.Title}}</summary>
<div class="card-container">
    <table class="styled-table">
    <tr><th>Service</th>{{range .Dates}}<th>{{$y:= niceDate .Start}}{{$y}}</th>{{end}}
    {{range $Services := $Services }}
    <tr><td>{{$Services.Name}}</td>
        {{range $Dates := $Dates}}
        {{$x:= getPrice $Services $Dates}}
        <td>{{$x}}</td>
        {{end}}
    </tr>
    {{end}}
    </table>
</div>
</details>
{{end}}

