{{define "style"}}
<style>
.card-container {
  padding-bottom: 10px;
  overflow-x: scroll;
  width: 100%;
}
.styled-table {
    border-collapse: collapse;
    padding: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 7px 10px;
    border-bottom: dashed #888 1px;
}
.styled-table td:first-child,
.styled-table th:first-child {
  position: sticky;
  left: 0;
  background-color: #ddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}






h1 {
	margin: 10px;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

details {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

details summary {
    font-size: 30px;
    line-height: 40px;
    margin: 8px;
}


</style>

{{end}}